*.Rproj.user
*.Rhistory
*.Ruserdata
*.Rproj
.Rproj.user
/.idea
*.pyc
*.parquet

data/fhv_nyc/daily_heatmaps/
data/fhv_nyc/daily_heatmaps_with_legend/
data/fhv_nyc/heatmaps_numeric.pkl
data/fhv_nyc/heatmaps_vectorized.RData
output/banded_null/
output/cifar/
output/dense_cov/
output/dense_diag_cov/
output/dense_mean/
output/dense_moment/
output/exp_null/
output/plots/
output/prelim_sim/
output/sparse_cov/
output/sparse_diag_cov/
output/sparse_mean/
output/sparse_moment/
output/standard_null/
